@media screen and (max-width: 768px) {
    /* CSS khusus untuk layar dengan lebar maksimal 768px (perangkat mobile) */
}

body {
    background-color: rgb(92, 85, 85);
    padding: 5px;
    /* font-size: 14px; */
}

/* Reset margin dan padding pada semua elemen */
* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

}

.topnav {
    background-color: white;
    overflow: hidden;
    text-align: center;
}

.topnav a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-delay: 1s;
}


.topnav .active {
    float: left;
}


.topnav a:hover {
    background-color: rgb(207, 203, 203);
}

.logo-search {
    position: absolute;
    top: 30px;
    right: 190px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    border: none;
}


.get-started {
    position: absolute;
    top: 30px;
    right: 50px;
    border: 1px solid #000;
    padding: 8px 16px;
    background-color: black;
    border-radius: 5px;
    color: white !important;
    text-decoration: none;
}


.description {
    background-color: white;
    /* font-size: 24px; */
    text-align: center;
    font-family: 'Bitter', serif, 'Croissant One', cursive, 'Poppins', sans-serif;
}

.description h1 {
  display: inline-block;
  text-align: center;
  font-size: 50px;
  width: 500px;
  word-wrap: break-word;
}

.description p {
  display: inline-block;
  text-align: center;
  width: 450px;
  word-wrap: break-word;
}

.image-container {
    background-color: white;
    text-align: center;
}


.image-container img,
.image img {
    max-width: 45%;
    height: auto;
    margin: 0 10px;
    display: inline-block;
}

.new_arivals,
.new_arivals2,
.top {
    background-color: white;
    text-align: center;
    font-family: 'Bitter', serif, 'Croissant One', cursive, 'Playfair Display', serif, 'Poppins', sans-serif;
}

.customer {
    background-color: rgba(255, 255, 255, 0.836);
    text-align: center;
    font-family: 'Bitter', serif, 'Croissant One', cursive, 'Playfair Display', serif, 'Poppins', sans-serif;

}


.new_arivals h1,
.new_arivals p,
.new_arivals2 h1,
.new_arivals2 p,
.top h1,
.top p,
.customer h1,
.customer p {
    display: inline-block;
    /* Atur tampilan menjadi inline-block */
    width: 300px;
    /* Atur lebar yang sama untuk kedua elemen */
}

/* Pilihan tambahan: jika ingin menambahkan jarak antara h1 dan p */
.new_arivals h1,
.new_arivals2 h1,
.top p {
    margin-right: 20px;
    /* Tambahkan margin kanan antara h1 dan p */
}

.image,
.image2,
.image3 {
    background-color: white;
    display: flex;
    flex-direction: row;

}

.image figure,
.image2 figure .image3 figure {
    text-align: center;
    margin: 0 1px;
    width: 100%;
    /* Atur lebar gambar menjadi 100% */
    height: auto;
    /* Menjaga rasio aspek gambar */
}

.image img {
    max-width: 100%;
    height: auto;

}

.image2 figure figcaption,
.image3 figure figcaption {
    font-size: 24px;
    /* Atur ukuran teks sesuai kebutuhan */
    font-weight: bold;
    /* Atur ketebalan teks menjadi tebal */
}

.model1 {
    background-color: white;
}

.model1 img {
    width: 100%;
    height: auto;
    /* Menjaga rasio aspek gambar */
}

.ul-test {
  /* flex-direction: column;
  align-items: center; */
    display: flex;
    justify-content: center;
}

.li-test {
    background-color: white;
    border: 1px solid;
    list-style-type: none;
    padding: 20px;
    margin: 10px;
}

.container {
    background-color: white;
    display: flex;
    align-items: flex-start;
    /* Untuk mengatur teks agar vertikalnya terpusat */
    gap: 20px;
}

.container {
    display: flex;
    align-items: center;
    /* Mengatur elemen vertikalnya di tengah */
    gap: 20px;
    /* Mengatur jarak antara teks dan input */
}

.checked {
    color: orange;
  }

/* .container img { */
/* flex-shrink: 0; /* Agar gambar tidak mengecil saat kontainer kecil */
/* margin-right: 10px; */
/* } */

div.container-footer.w-container {
    background-color: #000;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-bottom: 20px;
    padding-top: 40px;
  }
  
  div.container-footer.w-container:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.container-footer.w-container:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.w-row {
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  div.w-row:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.w-row:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.footer-column.w-clearfix.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 33.3333%;
  }
  
  div.footer-column.w-clearfix.w-col.w-col-4:after {
    clear: both;
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  div.footer-column.w-clearfix.w-col.w-col-4:before {
    content: " ";
    display: table;
    grid-column-end: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-row-start: 1;
  }
  
  h3.footer-failory-name {
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 24px;
  }
  
  p.footer-description-failory {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
  }
  
  br {
    box-sizing: border-box;
  }
  
  div.footer-column.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    width: 66.6667%;
  }
  
  div.w-col.w-col-8 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 66.6667%;
  }
  
  div.w-col.w-col-7.w-col-small-6.w-col-tiny-7 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 58.3333%;
  }
  
  h3.footer-titles {
    box-sizing: border-box;
    color: #FFFFFF;
    display: block;
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 1.1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 24px;
  }
  
  p.footer-links {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.8em;
    margin-bottom: 16px;
    margin-top: 2px;
  }
  
  a {
    background-color: transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    text-decoration: none;
  }
  
  a:active {
    outline: 0;
  }
  
  a:hover {
    outline: 0;
  }
  
  span.footer-link {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
  }
  
  span.footer-link:hover {
    color: #FFFFFF;
    font-weight: 400;
  }
  
  span {
    box-sizing: border-box;
  }
  
  strong {
    box-sizing: border-box;
    font-weight: 700;
  }
  
  div.w-col.w-col-5.w-col-small-6.w-col-tiny-5 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 41.6667%;
  }
  
  div.column-center-mobile.w-col.w-col-4 {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    width: 33.3333%;
  }
  
  a.footer-social-network-icons.w-inline-block {
    background-color: transparent;
    box-sizing: border-box;
    color: #FFFFFF;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.2em;
    margin-right: 8px;
    margin-top: 10px;
    max-width: 100%;
    opacity: .8;
    text-decoration: none;
  }
  
  a.footer-social-network-icons.w-inline-block:active {
    outline: 0;
  }
  
  a.footer-social-network-icons.w-inline-block:hover {
    opacity: 1;
    outline: 0;
  }
  
  img {
    border-width: 0;
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
  }
  
  p.footer-description {
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: .5px;
    line-height: 1.5em;
    margin-bottom: 16px;
    margin-top: 15px;
  }
  
  strong.link-email-footer {
    box-sizing: border-box;
    font-weight: 700;
  }
